#welcome_banner
  .container
    .text
      h3 成功銅鳴口琴社 56 暨 57 屆<br>期末成果發表會
      h1 一銅鳴響，青春的樂章
    .START START
#trailer
  .container
    .video 這是影片
#info
  .container
    .row.upper
      .col
        .text 2019.05.26 (Sun)<br>於 成功高中多功能綜合演藝廳<br>1800 進場 1830 開演
    .row.bottom
      .col-6
        .time 演出時間
      .col-6 
        .traffic 交通資訊
#navi_bar
  .container
    .botton 節目流程
    .botton 曲目簡介
    .botton 演出 / 工作人員
    .botton 謝幕感言
    .botton 幕後花絮
