@charset "UTF-8";
HTML, body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: 微軟正黑體;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

#welcome_banner {
  border-bottom: 1px solid #000;
}
#welcome_banner .container {
  padding: 30px;
}
#welcome_banner .container .text {
  margin-top: 40px;
}
#welcome_banner .container .text h3 {
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
  line-height: 1.5rem;
}
#welcome_banner .container .text h1 {
  font-size: 2.3rem;
  letter-spacing: 8px;
}
#welcome_banner .container .START {
  cursor: pointer;
  border: 3px solid #000;
  height: 65px;
  width: 150px;
  border-radius: 20px;
  margin: 80px auto;
  line-height: 61px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}
#welcome_banner .container .START:hover {
  background-color: #555;
  color: rgba(255, 255, 255, 0.8);
}

#trailer {
  border-bottom: 1px solid #000;
}
#trailer .container {
  padding: 15px;
}

#info {
  border-bottom: 1px solid #000;
}
#info .container .upper_row .col {
  padding: 20px;
  padding-bottom: 0px;
}
#info .container .upper_row .col .text {
  padding: 25px;
  line-height: 2rem;
  border: 2px solid #888;
}
#info .container .bottom_row .col-6 {
  padding: 20px 50px;
}
#info .container .bottom_row .col-6 .button {
  font-size: 1.5rem;
  border-bottom: 3px solid #000;
}

#navi_bar {
  background-color: #555;
  color: rgba(255, 255, 255, 0.8);
}
#navi_bar .container-fluid {
  padding: 15px 30px;
  max-width: 724px;
}
#navi_bar .container-fluid .row .col-4 .botton {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
}
#navi_bar .container-fluid .row .col-4 .botton:hover {
  color: orange;
}
#navi_bar .container-fluid .row .col-4 .botton:hover .item {
  color: white;
}
#navi_bar .container-fluid .row .col-4 .botton span {
  font-weight: 100;
  font-size: 7px;
  opacity: 0.3;
}
#navi_bar .container-fluid .row .col-4 .botton .expandable_list {
  position: absolute;
  left: 2.5rem;
  transform: translateY(5px);
}
#navi_bar .container-fluid .row .col-4 .botton .expandable_list .item {
  font-size: 0.8em;
  font-weight: 200;
}
#navi_bar .container-fluid .row .unlist .botton {
  margin-bottom: 10px;
}
