@charset "UTF-8";
HTML, body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: 微軟正黑體;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.navi_switch {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 0px;
  cursor: pointer;
  z-index: 9;
}
.navi_switch .line {
  width: 28px;
  height: 4px;
  background-color: #999;
  transition-duration: 0.2s;
}
.navi_switch .center {
  margin: 5px 0px;
}
.navi_switch:hover .line {
  width: 30px;
}
.navi_switch:hover .center {
  margin: 7px 0px;
}

#navi_bar {
  position: fixed;
  height: 100vh;
  width: 30%;
  background-color: #555;
  transition-duration: 0.4s;
  z-index: 10;
}
#navi_bar .navi_text {
  position: absolute;
  top: 15%;
  left: 15%;
}
#navi_bar .navi_text .botton {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
  overflow: hidden;
}
#navi_bar .navi_text .botton:hover {
  color: orange;
}
#navi_bar .navi_text .botton span {
  font-weight: 100;
  font-size: 7px;
  opacity: 0.3;
}
#navi_bar .navi_text .botton .expandable_list {
  position: absolute;
  left: 1.5rem;
  transform: translateY(5px);
}
#navi_bar .navi_text .botton .expandable_list .item {
  font-size: 0.8em;
  font-weight: 200;
}

#welcome_banner {
  border-bottom: 1px solid #000;
}
#welcome_banner .container {
  padding: 30px;
}
#welcome_banner .container .text {
  margin-top: 40px;
}
#welcome_banner .container .text h3 {
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
  line-height: 1.5rem;
  padding-left: 3px;
}
#welcome_banner .container .text h1 {
  font-size: 2.3rem;
  letter-spacing: 20px;
  line-height: 3.5rem;
  padding-left: 20px;
}
#welcome_banner .container .START {
  cursor: pointer;
  border: 3px solid #000;
  height: 65px;
  width: 140px;
  border-radius: 20px;
  margin: 60px auto;
  line-height: 61px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}
#welcome_banner .container .START:hover {
  background-color: #555;
  color: rgba(255, 255, 255, 0.8);
}

#trailer {
  border-bottom: 1px solid #000;
}
#trailer .container {
  padding: 15px;
}

#info {
  border-bottom: 1px solid #000;
}
#info .container .upper_row .col {
  padding: 20px;
  padding-bottom: 0px;
}
#info .container .upper_row .col .text {
  padding: 25px;
  line-height: 2rem;
  border: 2px solid #888;
}
#info .container .bottom_row .col-6 {
  padding: 15px 15px;
  text-align: center;
}
#info .container .bottom_row .col-6 .button {
  display: inline-block;
  font-size: 1.5rem;
  border-bottom: 3px solid white;
  width: 8rem;
  cursor: pointer;
}
#info .container .bottom_row .col-6 .button:hover {
  color: orange;
  border-bottom: 3px solid orange;
}

#navi {
  background-color: #555;
  color: rgba(255, 255, 255, 0.8);
}
#navi .container-fluid {
  padding: 15px 30px;
  max-width: 724px;
}
#navi .container-fluid .row .col-4 .botton {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
}
#navi .container-fluid .row .col-4 .botton:hover {
  color: orange;
}
#navi .container-fluid .row .col-4 .botton:hover .item {
  color: white;
}
#navi .container-fluid .row .col-4 .botton span {
  font-weight: 100;
  font-size: 7px;
  opacity: 0.3;
}
#navi .container-fluid .row .col-4 .botton .expandable_list {
  position: absolute;
  left: 1.5rem;
  transform: translateY(5px);
}
#navi .container-fluid .row .col-4 .botton .expandable_list .item {
  font-size: 0.8em;
  font-weight: 200;
}
#navi .container-fluid .row .unlist .botton {
  margin-bottom: 10px;
}

.navi_off {
  position: absolute;
  right: -30%;
}

.navi_on {
  position: fixed;
  right: 0%;
  top: 0px;
}

.list_expand {
  height: 7rem;
}

.list_fold {
  overflow: hidden;
  height: 1.7rem;
}
