@charset "UTF-8";
HTML, body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: 微軟正黑體;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

#navi_bar {
  position: fixed;
  height: 100vh;
  width: 20%;
  background-color: #555;
  transition-duration: 0.4s;
  z-index: 10;
}
#navi_bar .navi_text {
  position: absolute;
  top: 15%;
  left: 15%;
}
#navi_bar .navi_text .botton {
  margin-bottom: 2rem;
}
#navi_bar .navi_text .botton .text {
  padding-left: 15px;
  transition-duration: 0.2s;
}
#navi_bar .navi_text .botton:hover .text {
  border-left: 4px solid rgba(255, 165, 0, 0.5);
}

#welcome_banner {
  border-bottom: 1px solid #000;
  height: 100vh;
  background-image: url(https://upload.cc/i1/2019/05/07/b1vPp0.jpg);
  background-size: cover;
}
#welcome_banner .container {
  padding: 30px;
}
#welcome_banner .container .text {
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.8);
}
#welcome_banner .container .text h3 {
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin-bottom: 100px;
  line-height: 2rem;
  padding-left: 3px;
  font-weight: 300;
}
#welcome_banner .container .text h1 {
  font-size: 4rem;
  letter-spacing: 25px;
  line-height: 5rem;
  padding-left: 25px;
  font-weight: 600;
}
#welcome_banner .container .text p {
  margin-top: 7rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 300;
  background-color: gray;
}
#welcome_banner .container .START {
  cursor: pointer;
  border: 3px solid #000;
  height: 65px;
  width: 140px;
  border-radius: 20px;
  margin: 60px auto;
  line-height: 61px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}
#welcome_banner .container .START:hover {
  background-color: #555;
  color: rgba(255, 255, 255, 0.8);
}

#trailer {
  border-bottom: 1px solid #000;
}
#trailer .container {
  padding: 15px;
}

#info {
  border-bottom: 1px solid #000;
}
#info .container-fluid {
  padding: 1rem;
}
#info .container-fluid .row .col-12 {
  margin-bottom: 20px;
}
#info .container-fluid .row .map img {
  max-width: 768px;
  width: 100%;
  background-size: cover;
}
#info .container-fluid .row .text h3, #info .container-fluid .row .text p, #info .container-fluid .row .text a {
  display: inline-block;
  color: gray;
  text-align: left;
}
#info .container-fluid .row .text .switch {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  letter-spacing: 2px;
}
#info .container-fluid .row .text .switch h3 {
  margin-right: 2rem;
  font-size: 2rem;
}
#info .container-fluid .row .text .switch p {
  font-size: 1rem;
}

section#navi {
  background-color: #555;
  color: rgba(255, 255, 255, 0.8);
  height: 13rem;
}
section#navi .container-fluid {
  padding: 30px 40px;
  max-width: 724px;
}
section#navi .container-fluid .col-4 {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
section#navi .container-fluid .col-4:hover {
  border-left: 2px solid rgba(255, 165, 0, 0.5);
}
section#navi .container-fluid .nolist .botton {
  margin-bottom: 1rem;
}

.navi_switch {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 0px;
  cursor: pointer;
  z-index: 9;
}
.navi_switch .line {
  width: 28px;
  height: 4px;
  background-color: #999;
  transition-duration: 0.2s;
}
.navi_switch .center {
  margin: 5px 0px;
}
.navi_switch:hover .line {
  width: 30px;
}
.navi_switch:hover .center {
  margin: 7px 0px;
}

.botton {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  transition-duration: 0.2s;
}
.botton:hover {
  color: orange;
}
.botton .text {
  text-align: left;
}
.botton .text span {
  font-weight: 100;
  font-size: 7px;
  opacity: 0.3;
}
.botton .list {
  position: absolute;
  left: 1.5rem;
  transform: translateY(5px);
}
.botton .list .item {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 200;
  color: white;
  opacity: 0;
  transition-duration: 0.3s;
}
.botton .list .item:hover {
  color: orange;
}

.navi_off {
  position: absolute;
  right: -30%;
}

.navi_on {
  position: fixed;
  right: 0%;
  top: 0px;
}

.list_expand:hover {
  height: 7rem;
}
.list_expand:hover .item {
  opacity: 1;
  transform: translateY(5px);
}

.invisible {
  display: none;
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }

  #navi_bar {
    width: 50%;
  }

  #navi {
    height: 15rem;
  }

  .navi_off {
    position: absolute;
    right: -50%;
  }
}
